In [1]:
import pandas as pd

In [6]:
colunas =['DRE', 'CURSO', 'NOME', 'GENERO', 'NASCIMENTO',
            'ALTURA', 'PESO', 'CRA', 'CRO', 'RENDA']

MEDIDAS = {'MEDIA' : 'mean' , 'CONTAGEM':'count', 'SOMA' : 'sum', 
           'MEDIANA' : 'median', 'DESVIO_PADRAO' : 'std', 'VARIANCIA':'var', 
           'COVARIANCIA':'cov', 'CONTAGEM': 'count'}

In [7]:
def Cadastro(StudentInfo):
    
    global colunas
    
# LENDO DATABASE OU CONSTRUINDO NOVO DF
    try:
        df = pd.read_csv('DataBase.csv',decimal = ',', sep =';')
        
    except:
        df = pd.DataFrame(columns = colunas)
    
    
    df.loc[len(df),colunas] = list(StudentInfo.values())
    
# TRATANDO COLUNAS

    df[['DRE','CRO']] = df[['DRE','CRO']].astype(int)
    df[['ALTURA', 'PESO', 'CRA', 'RENDA']] = df[['ALTURA', 'PESO', 'CRA', 'RENDA']].astype(float)
    
    df.to_csv('DataBase.csv',decimal = ',', sep =';', index = False)
    
    return df

In [5]:
def getStatistics(atribute, measure, grupo):
    
    df = pd.read_csv('DataBase.csv', decimal = ',', sep =';')
    
    measure = MEDIDAS[measure]
    
    try:
        if measure != 'cov':        
            stastics = df.groupby(grupo, as_index = False).agg({atribute : measure})

        else:

            stastics = df[[grupo, atribute]].groupby(grupo).cov()

        return stastics
    
    except:

        print('Nao foi possivel calcular essa estatistica')

In [20]:
# POR FAVOR, COLOQUE AS INFORMAÇÕES DO ALUNO ABAIXO

StudentInfo = {
'DRE' : 161189240,
    
'Curso' : 'Biblioteconomia',

'Nome' : 'Anna Goulart',

'Genero' : 'Feminino',

# COLOCAR NO FORMATO YYYY-MM-DD
'Nascimento' : '1999-04-13',

# AKTURA EM METROS
'altura' : 1.56,

'peso' : 48,

'cra' : 9.0,

'cro' : 90,

'renda' : 7500}

In [21]:
# CADASTRA ALUNOS

df = Cadastro(StudentInfo)
df

,DRE,CURSO,NOME,GENERO,NASCIMENTO,ALTURA,PESO,CRA,CRO,RENDA
0,117043280,Engenharia de Producao,Lucas Mazurek,Masculino,1998-12-10,1.00,82.0,7.0,135,2000.0
1,116172989,Arquitetura,Nicole Ciscotto,Feminino,1998-06-20,1.63,49.0,8.5,135,1000.0
2,1161729230,Arquitetura,Barbara Amorim,Feminino,1998-06-13,1.63,52.0,8.0,140,10000.0
3,161189240,Biblioteconomia,Anna Goulart,Feminino,1999-04-13,1.56,48.0,9.0,90,7500.0

In [46]:
def EditaCadastro(atribute, dre, new_value):

    df = pd.read_csv('DataBase.csv',decimal = ',', sep =';')

    try:

        index = df[df['DRE'] == dre].index.values[0]
        df.loc[index,atribute] = new_value

        df.to_csv('DataBase.csv',decimal = ',', sep =';', index = False)
    
        return df

    except:

        print('Nao ha cadastros nesse DRE')

In [49]:
# # COLOCAR NA ORDEM => COLUNA, DRE E NOVO_VALOR
EditaCadastro('ALTURA', 1161729230, 1.63)

,DRE,CURSO,NOME,GENERO,NASCIMENTO,ALTURA,PESO,CRA,CRO,RENDA
0,117043280,Engenharia de Producao,Lucas Mazurek,Masculino,1998-12-10,1.88,82.0,7.0,135,2000.0
1,116172989,Arquitetura,Nicole Ciscotto,Feminino,1998-06-20,1.63,49.0,8.5,135,1000.0
2,1161729230,Arquitetura,Barbara Amorim,Feminino,1998-06-13,1.63,52.0,8.0,140,10000.0
3,161189240,Biblioteconomia,Anna Goulart,Feminino,1999-04-13,1.56,48.0,9.0,90,7500.0

In [28]:
# TIPOS DE ATRIBUTO => CURSO, GENERO, ALTURA, PESO, CRA, CRO, RENDA, DRE

# TIPOS DE MEDIDA => MEDIA, CONTAGEM, SOMA, MEDIANA, DESVIO_PADRAO, VARIANCIA, COVARIANCIA

# TIPOS DE GRUPO => CURSO, DRE, GENERO

# COLOCAR NA ORDEM => ATRIBUTO, MEDIDA E GRUPO

getStatistics('CRA', 'MEDIA', 'CURSO')

                    CURSO   CRA
0             Arquitetura  8.25
1         Biblioteconomia  9.00
2  Engenharia de Producao  7.00